<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmA1IjlcqFu2Njs6UmWihoK6Rxo7AgZFM</string>
	<key>GCM_SENDER_ID</key>
	<string>1041118896633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>handasa-rides</string>
	<key>STORAGE_BUCKET</key>
	<string>handasa-rides.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041118896633:ios:85fe98339f1e7a9560dd28</string>
</dict>
</plist>